.App {
  background-color: rgb(0, 120, 120);
  height: 1000px;
  justify-content: center;
}

.weather__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 50%;
  margin-left: 450px;
  background-color: blanchedalmond;
  border-radius: 40px;
}

@media screen and (max-width: 600px) {
  .weather__container {
    width: 100%;
    margin-left: 0px;
  }

  .timezone  {
    font-size: small;
  }

  .temp {
    font-size: small;
  }

  .weather {
    font-size: small;
  }

  .description {
    font-size: small;
  }
}